body {
    font-family: 'Inter', sans-serif;
    font-size: 100%;
    background-color: #efe284;
    padding: 1px;
    text-align: center;
    color: #121212;
}

#hero-image {
    width: 100%;
    height: 50vh;
    background-image: url(../images/kitchen-crew.jpeg);
    background-position: 25% 35%;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .5);
}

#hero-image h1 {
    padding-top: 25vh;
    font-size: 4em;
    color: antiquewhite;
}

a {
    color: #121212;
}

a:hover {
    color: #CF7C7C;
}

#intro1 {
    width: 50%;
    float: left;
}

#intro2 {
    width: 50%;
    float: left;
}

#intro3 {
    width: 50%;
    float: left;
}

#intro4 {
    width: 50%;
    float: left;
}

#structure {
    display:block;
}