body {
    font-family: 'Inter', sans-serif;
    background-color: #efe284;
    padding: 1px;
    text-align: center;
    color: #121212;
}

#hero-image {
    width: 100%;
    height: 50vh;
    background-image: url(../images/kitchen-crew.jpeg);
    background-position: 25% 35%;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .6);
}

a {
    text-decoration: none;
    color: #121212;
}

a:hover {
    color: #CF7C7C;
    text-decoration: underline;
}