body {
    font-family: 'Inter', sans-serif;
    background-color: #efe284;
    padding: 1px;
    text-align: center;
    color: #121212;
}

#header {
    background-image: url("kitchen-crew.jpeg");
    background-size: cover;
    width:100%;
    height: 40%;
}

a {
    text-decoration: none;
    color: #121212;
}

a:hover {
    color: #CF7C7C;
    text-decoration: underline;
}